<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.mapper.AttractionMapper">
    <select id="list" resultType="com.mjc.entity.Attraction">
        select * from attraction
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="location != null and location != ''">
                and location like concat('%', #{location}, '%')
            </if>
            <if test="score != null">
                and score = #{score}
            </if>
        </where>
        order by score desc
    </select>

    <!--根据id批量删除景点-->
    <delete id="deleteByIds">
        delete from attraction where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!--修改景点-->
    <update id="updateAttraction" parameterType="com.mjc.entity.Attraction">
        update attraction
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="score != null">score = #{score},</if>
            <if test="isLiked != null">is_liked = #{isLiked},</if>
            <if test="liked != null">liked = #{liked},</if>
            <if test="disliked != null">disliked = #{disliked},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
</mapper>




