<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mjc.mapper.UserMapper">
    <!--更新用户基本信息
        <set>标签用来替换set关键字，可以自动帮助我们生成set关键字，同时可以自动去除掉更新字段后面多余的逗号
    -->
    <update id="updateUser">
        update user
        <set>
            <if test="username != null and username !=''">username = #{username},</if>
            <if test="realName != null and realName !=''">real_name = #{realName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="email != null">email = #{email},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="phone != null and phone !=''">phone = #{phone},</if>
            <if test="introduction != null and introduction !=''">introduction = #{introduction},</if>
            <if test="registerCity != null and registerCity !=''">register_city = #{registerCity},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="ip != null and ip !=''">ip = #{ip},</if>
            <if test="city != null and city !=''">city = #{city},</if>
        </set>
        where id = #{id}
    </update>

    <!--条件分页查询-->
    <select id="queryAllUser" resultType="com.mjc.entity.User">
        select * from user
        <where>
            <if test="username != null and username != ''">
                and username like concat('%', #{username}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="phone != null">
                and phone = #{phone}
            </if>
        </where>
        order by create_time desc
    </select>

    <!--更新用户登录时的ip地址和城市信息-->
    <update id="updateIpAndCity">
        update user
        <set>
            <if test="ip != null and ip !=''">ip = #{ip},</if>
            <if test="city != null and city !=''">city = #{city},</if>
            <if test="registerCity != null and registerCity !=''">register_city = #{registerCity},</if>
        </set>
        where id = #{id}
    </update>

    <!--统计每一个地域的人数并进行数据清理-->
    <select id="countUserByRegion" resultType="com.mjc.vo.UserRegionVO">
        SELECT
            SUBSTRING_INDEX(city, '·', -1) AS name,
            COUNT(*) AS value
        FROM user
        WHERE city IS NOT NULL
          AND city != ''
          AND city != '未知'
        GROUP BY SUBSTRING_INDEX(city, '·', -1)
        ORDER BY value DESC
    </select>
</mapper>

